:root {
  --font-oxanium: 'Oxanium', sans-serif;
  --color-primary: #11FF05;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #FF0000;
}

body {
  height: 100vh;
  background-color: var(--color-black);
}

* {
  font-family: var(--font-oxanium);
  color: var(--color-white);
}

html, body {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}