:root {
  --font-oxanium: 'Oxanium', sans-serif;
  --color-primary: #11FF05;
  --color-white: #fff;
  --color-black: #000;
}

body {
  height: 100vh;
  background-color: var(--color-black);
}

* {
  font-family: var(--font-oxanium);
  color: var(--color-white);
}