.main {
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.title{
    font-size: 2rem;
    font-weight: 700;  
    text-align: center;
    margin: 0;
    padding: 2rem;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.button{
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-white);
    background-color: var(--color-black);
    border-radius: 0.5rem;
    cursor: pointer;
}

.button:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}

.button:active{
    background-color: var(--color-primary);
    color: var(--color-black);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.slider{
    width: 40%;
    height: 10px;
    background-color: var(--color-primary);
    accent-color: var(--color-primary);
}

.footer {
  height: 10vh;
  text-align: center;
  padding: 1rem;
} 

.columns {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 75%;
    max-height: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--color-white);
    box-sizing: border-box;
} 